@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Montserrat:wght@300&display=swap");

* {
  font-family: "Montserrat";
}
.App {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
}
.btn {
  padding: 10px 20px;
  background-color: #ccdade;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  font-weight: 700;
  color: rgb(38, 35, 123);
}

.btn:hover {
  color: rgb(38, 35, 123);
  background-color: rgb(189, 220, 220);
}

.dropdown-menu {
  background-color: rgb(21, 21, 50);
  border-radius: 10px;
  width: 400px;
}

.dropdown-item {
  color: #fff;
  transition: 0.3s ease-in-out;
}

.dropdown-item:hover {
  background-color: rgb(37, 35, 84);
  color: #fff;
}

.select-all-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 0px;
  align-items: center;
}

.user-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.user-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0px;
}

.form-check input {
  width: 20px;
  height: 20px;
}
.search-container {
  width: 100%;
  border-radius: 3px;
  padding: 5px;
}
.search-container > input {
  width: 100%;
  padding: 15px 10px;
  background-color: #123456;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
}

.search-container > input::placeholder {
  color: rgb(147, 145, 205);
}
